# Mongo
APP_MONGODB_URL=
APP_MONGODB_DB=

# DummyJSON
APP_DUMMYJSON_API_BASE_URL=
APP_DUMMYJSON_TIMEOUT=

# API
APP_API_TITLE=
APP_API_VERSION=
APP_API_DESCRIPTION=

# JWT
APP_JWT_SECRET_KEY=
APP_JWT_ALGORITHM=HS256
APP_JWT_ACCESS_EXPIRE_MINUTES=30
APP_JWT_REFRESH_EXPIRE_DAYS=7

# AI Agent (options: anthropic, gemini)
APP_AI_PROVIDER=anthropic
ANTHROPIC_API_KEY=
# GOOGLE_API_KEY=  # needed when APP_AI_PROVIDER=gemini